<% content_for :js_head do
  javascript_pack_tag "application_react", 'data-turbolinks-track': 'reload'
end %>

<% chart_labels_by_technical_area = [
    "Legislation",
    "IHR coordination",
    "AMR",
    "Zoonotic disease",
    "Food safety",
    "Immunization",
    "Laboratory",
    "Biosafety & biosecurity",
    "Surveillance",
    "Human resources",
    "Preparedness",
    "Rapid response",
    "Linking public health",
    "Medical countermeasures",
    "Risk communication",
    "Points of entry",
    "Chemical events",
    "Radiation",
] %>

<div class="row">

  <div class="col plan-container">
    <%= form_for @plan, class: "needs-validation", novalidate: true, data: { target: "plan.form" } do |form| %>
      <%= form.hidden_field :benchmark_action_ids,
                            value: nil, # populated later via JS upon form submit event
                            data: {target: "plan.fieldForActionIds"},
                            autocomplete: "off"
      %>

      <!-- Plan Form: Edit Name, Save Button (its a DIV.row) -->
      <%= render "plan_name_sticky", form: form %>

      <%= react_component("PlanEditPage") %>

    <% end %>
  </div>

</div>


<script type="application/javascript">
    window.STATE_FROM_SERVER = {
        technicalAreas: <%= raw @benchmark_technical_areas.to_json %>,
        indicators: <%= raw @benchmark_indicators.to_json %>,
        actions: <%= raw @all_actions.to_json %>,
        plan: <%= raw @plan.to_json %>,
        planActionIds: <%= @plan.action_ids %>,
        planGoals: <%= raw @plan.goals.to_json %>,
        planChartLabels: <%= raw [chart_labels_by_technical_area, BenchmarkIndicatorAction::ACTION_TYPES].to_json %>,
    };
    window.NUDGES_BY_ACTION_TYPE = <%= raw @nudges_by_action_type_json %>;
</script>
